@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --maincolor:#86469C;
    --secondcolor:#D35F94;
    --thirdcolor:#E490D0;
    --textcolor:#4A5764;
}
*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    font-family: "Poppins", sans-serif;
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    z-index: 1000;
    background-color: white !important;

}
.logo{
    width: 150px;
}
.logo img{
    width: 50%;
}
.navbar a{
    color: var(--textcolor);
    font-size: 1.7rem;
    margin: 1rem;
    position: relative;
    transition: 0.5s;
}
.navbar a:hover{
    color: var(--maincolor);
}

.navbar a::after{
    content: "";
    background-color: var(--maincolor);
    width: 0;
    position: absolute;
    height: 0.2rem;
    left: 0;
    margin-top: 0.5rem;
    top: 100%;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}

#menu-bars{
    color: var(--textcolor);
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 1rem;
    display: none;
}
#menu-bars:hover{
    color: var(--maincolor);
}

.right-icons {
    display: flex;
    align-items: center;
}

.right-icons .btn{

    padding: 1.2rem 2rem;
    font-size: 1.7rem;
    background: var(--maincolor);
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 200px; /* Set your desired width */
    height: 50px; /* Set your desired height */
    text-align: center;
    line-height: 1.4; /* Adjusted to better fit the padding and font size */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right-icons .btn:hover{
    background-color: var(--secondcolor);
    
}


.right-icons .btn {
    width: 250px; /* Set your desired width */
    height: 50px; /* Set your desired height */
   
}

#moodBtn {
    
    width: auto; /* Allow the button to size automatically */
    height: 50px; /* Set your desired height */
    
}
/* header section ended */

/* Home section started */

.main-home{
    padding: 2rem 7%;
    background-image: url('../img/blurbg1.jpg');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    flex-wrap: wrap;
    gap: 1rem;
}
.home .home-left-content{
    flex: 1 1 40rem;
}

.home-left-content span{
    font-size: 2rem;
    color: var(--maincolor);
    padding: 1rem 0;
    font-weight: bolder;
}
.home-left-content h2{
    font-size: 48px;
    margin: 1rem 0;
    
}
.home-left-content p{
    font-size: 1.7rem;
    color: var(--textcolor);
    line-height: 3rem;
}

.home-btn{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
.home-btn a{
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: var(--maincolor);
    font-size: 1.7rem;
    color: white;
    transition: 0.5s ease;
}
.home-btn a:hover{
    padding: 1.5rem 2.5rem;
}


.homebtnsec{
    background:transparent !important;
    color: var(--textcolor) !important;
    border: 1px solid var(--maincolor);
}
.homebtnsec:hover{
    background-color: var(--secondcolor) !important;
    color: white !important;
}

.home .home-right-content{
    flex: 1 1 50rem;
}

.home .home-right-content img{
    width: 100%;
    margin-top: 4rem;
}

.technology{
    padding: 3rem 7%;
}

.main-technology{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: -100px;
}
.inner-technology{
    flex: 1 1 300px;
    padding: 3rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: url('../img/backgroung-pattern-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 1;
}

.inner-technology span{
    width: 0;
    height: 100%;
    background-color: var(--maincolor);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    
}
.inner-technology:hover span{
    width: 100%;
}


/* .inner-technology:hover{
    background: var(--maincolor);
    
} */

.inner-technology:hover i{
    
    color: white;
}
.inner-technology:hover h2{
    color: white;
}
.inner-technology:hover p{
    color: white;
}
.inner-technology i{
    font-size: 48px;
    color: var(--maincolor);
}

.inner-technology h2{
    font-size: 2.5rem;
    padding: 1rem 0;
}
.inner-technology p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem 0;
}



/* home section will end */

/* About us section  */
.main-about{
    padding: 2rem 7%;
    width: 100%;
    background-image: url('../img/backgroung-pattern-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.main-about .about-heading{

    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: var(--maincolor);
    border-bottom: 2px solid var(--secondcolor);
    width: 200px;
    margin: 0 auto;
    padding: 2rem 0;

}
.inner-main-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.about-inner-content-left{
    flex: 1 1 40rem;
}
.about-inner-content-left img{
    width: 90%;
    padding: 2rem;
}
.about-inner-content{
    flex: 1 1 45rem;
}
.about-inner-content img{
    width: 100%;
}
.about-right-content h2{
    font-size: 30px;
    padding: 1.5rem 0;
    color: black;
    font-weight: bolder;
    line-height: 4rem;
}
.about-right-content p{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    color: var(--textcolor);
    font-family: "Inter", sans-serif;
    text-align: left;
    line-height: 2.5rem;
}
.aboutsec-content{
    line-height: 2.5rem !important;
}
.aboutbtn{
    padding: 1.5rem 3rem;
    background-color: transparent;
    border: 1px solid var(--maincolor);
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.5s all;
}
.aboutbtn:hover{
    background-color: var(--secondcolor);
    color: white;
    border:none;
    padding: 1.5rem 3.5rem;
}
.main-doctors{
    padding: 2rem 7%;
    background-image: url('../img/backgroung-pattern-3.png');
    background-color: #f5f5f5;
    width: 100%;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.doctors-heading{
    font-size: 30px;
    text-align: center;
   margin: 4rem;
   color: var(--maincolor);
}
.main-inner-doctor{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    
}
.doc-poster{
    flex: 1 1 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    overflow: hidden;
    
}
.doc-poster img{
    width: 396px; /* Set your desired width */
    height: 500px; /* Set your desired height */
    object-fit: cover; /* This ensures the image covers the area without distortion */
    border: 0.7rem solid var(--maincolor); /* Retain the existing border styling */
}
.doc-poster:hover img{
    border-radius: 0 50px 0 0;
}
.doc-icons{
    position: absolute;
    left: -100%;
    top: 10%;
    transition: 0.5s;
}
.doc-poster:hover .doc-icons{
    left: 5%;
}

.doc-icons i{
    font-size: 2rem;
    margin: 0.5rem;
    border: 1px solid var(--secondcolor);
    color: var(--maincolor);
    padding: 1rem;
    background-color: white;
    cursor: pointer;
    
}
.doc-icons i:hover{
    background-color: white;
    color: var(--secondcolor);
    border-radius: 10px !important;
    transform: scale(1.2);
    border: 1px solid var(--maincolor);
}
.doc-poster::after{
    content: "";
    background: linear-gradient(0deg, #f5f5f5 50%, transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    bottom: -200px;
    transition: 0.5s;
}
.doc-poster:hover:after{
    bottom: -100px;
}



.doc-details{
 position: absolute;
 text-align: center;
 z-index: 2;
 bottom: -30px;
 left: 40%;

}
.doc-details h2{
    color: black;
    font-size: 25px;
    padding: 2rem 0;
}

.doc-details i{
    padding: 0.5rem;
    font-size: 2.5rem;
    color: var(--maincolor);
    cursor: pointer;
}
.doc-details i:hover{
    color: var(--secondcolor);
    transform: scale(1.2);
}

.doc-poster:hover .doc-details{
    bottom: 10px;
}
.our-service{
    width: 100%;
    padding: 3rem 7%;
}
.service-heading h2{
    font-size: 40px;
    color: #86469C;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 3rem;
}
.main-services{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    text-align: center;
}
.inner-services{
    flex: 1 1 300px;
    padding: 3rem 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 2px solid var(--textcolor);
    
}
.inner-services:hover{
    transform: translateY(-10px);
    border-bottom: 2px solid var(--maincolor);
    background-color: #f5f5f5;
}
.inner-services:hover .service-icon{
    width: 100px;
    height: 100px;
    border-radius: 0;
    background-color: var(--maincolor);
    
}
.inner-services:hover .service-icon i{
    color: white;
    transform: scale(1.1);
}

.service-icon{
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid var(--maincolor);
    background-color: #f5f5f5;
}
.service-icon i{
    font-size: 3rem;
    color: var(--maincolor);
    padding: 1rem;
}
.inner-services h3{
    font-size: 2rem;
    padding-top: 2rem;
}
.inner-services p{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    line-height: 2.5rem;
    
}
/* services ends */
.main-review{
    padding: 2.5rem 7%;
    width: 100%;
    
}


.review-heading{
    text-align: center;
}

.review-heading h1{
    font-size: 40px;
    color: var(--maincolor);
    padding-bottom: 3rem;
}
.review-inner-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
    text-align: center;
   padding: 4rem 0;
    
}
.review-box{
    flex: 1 1 300px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0 50px 0 0;
    border: 2px solid var(--maincolor);
    cursor: pointer;
    transition: 1s;
}
.review-box:hover{
 
    border-radius: 50px 0 0 0;
    
}

.review-box img{
    border-radius: 100%;
    width: 100px;
    transition: 1s;
}
.review-box:hover img{
    transform: scale(1.1);
}
.review-stars{
    padding: 1rem 0;
}
.review-stars i{
    font-size: 2rem;
    color: var(--secondcolor);
    margin: 0.2rem;
}
.review-box h2{
    font-size: 2rem;
    padding-top: 2rem;
}
.review-box p{
    font-size: 1.5rem;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
    line-height: 2.5rem;
}
.main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.main-footer {
    background: #111;
    color: #fff;
    padding: 50px 0;
}
.footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-content {
    flex: 1 1 200px;
    margin: 20px;
}
.footer-content h1 {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}
.footer-content h1::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #ff6b6b;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.footer-content .link {
    display: flex;
    flex-direction: column;
}
.footer-content .link a {
    color: #ccc;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-content .link a:hover {
    color: #ff6b6b;
}
.footer-social {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.footer-social a {
    color: #ccc;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}
.footer-social a:hover {
    color: #ff6b6b;
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 20px;
    font-size: 14px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #764ABC;
    border-radius: 20px;
    padding: 20px;
    width: 60%;
    max-width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-inner-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-image {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin-right: 20px;
}

.modal-text {
    text-align: left;
    color: white;
}

.modal-text h2, .modal-text h3 {
    margin: 0;
}

.emoji-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.emoji {
    text-align: center;
    margin: 0 10px;
}

.emoji img {
    width: 50px;
    height: 50px;
}

.emoji p {
    margin: 5px 0 0;
    color: white;
}

.emoji-container .emoji {
    cursor: pointer; /* Make the cursor a pointer to indicate it's a button */
}

.emoji-container .emoji:hover {
    filter: brightness(0.5); /* Darken the emoji when hovered */
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.close:hover {
    color: #aaaaaa;
}






/* .doc-poster:hover img{
    transform: translateY(-20px);
}

.doc-poster::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #f5f5f5 50%, transparent);
    z-index: 1;
    bottom: -220px;
    left: 0;
    transition: 0.5s;
}
.doc-poster:hover::after{
    bottom: -100px;
}
.details{
    color: black;
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 2;
}
.doc-poster:hover .details{
    bottom: 30px;
} */



.out{
    display: none; 
 }




@media (max-width:768px) {

    html{
        font-size: 55%;
    }

    .right-icons{
        display: flex;
        align-items: center;
    }

    #menu-bars{
        
        display: initial;
    }

    header{
        padding: 2rem;
        background-color: white;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: white;
    }
    .navbar.active{
        left: 0;
    }
    .navbar a{
        display: block;
        margin: 2rem;
        padding: 1rem;
        border: 1px solid var(--textcolor);
    }

    .home .home-left-content{
        margin-top: 50px;
        padding: 2rem;
    }

    .home .home-left-content h2{
        font-size: 30px;
    }
    .main-technology{
        
        margin-top: 0;
    }

    .about-right-content h2{
        font-size: 20px;
    }

     /*DALLE= this one */
     .right-icons .btn{
        display: none;
    }
    /*DALLE= and this one */
    .out{
        display: block; 
     }

    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-image: url('../img/backgroung-pattern-1.png'); /* Apply background pattern */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 20px;
    width: 60%;
    max-width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-inner-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-image {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin-right: 20px;
}

.modal-text {
    text-align: left;
    color: white;
}

.modal-text h2, .modal-text h3 {
    margin: 0;
}

.emoji-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.emoji {
    text-align: center;
    margin: 0 10px;
}

.emoji img {
    width: 50px;
    height: 50px;
}

.emoji p {
    margin: 5px 0 0;
    color: white;
}

.emoji-container .emoji {
    cursor: pointer; /* Make the cursor a pointer to indicate it's a button */
}

.emoji-container .emoji:hover {
    filter: brightness(0.5); /* Darken the emoji when hovered */
}

.close {
    position: absolute;
    top: 10px; /* Adjust as necessary */
    right: 10px; /* Adjust as necessary */
    color: white;
    font-size: 70px; /* Increase font size to make the "x" larger */
    line-height: 1; /* Ensure the line height matches the font size */
    cursor: pointer;
    background: none; /* Ensure no background */
    border: none; /* Ensure no border */
    padding: 10px; /* Increase padding for better click area */
}

.close:hover {
    color: #aaaaaa; /* Change color on hover */
}



#moodBtn {
    display: inline-block;
    padding: 1.4rem 3rem 1.5rem 3rem;

    font-size: 1.7rem;
    color: black;
    transition: 0.5s ease;
    background:transparent !important;
    
    border: 1px solid var(--maincolor);
    font-weight: bold;
}



